In [1]:
people = {
    "first_name": ["John", "Jane", "James"],
    "last_name": ["Doe", "Doe Jr.", "Caldwin"],
    "emails": ["johndoe@gmail.com", "janedoe@gmail.com", "jamescaldwin@gmail.com"]
}

In [2]:
import pandas as pd

df = pd.DataFrame(people)
df

  first_name last_name                  emails
0       John       Doe       johndoe@gmail.com
1       Jane   Doe Jr.       janedoe@gmail.com
2      James   Caldwin  jamescaldwin@gmail.com

In [3]:
print(df["first_name"][1])

Jane

In [4]:
df.iloc[0]

first_name                 John
last_name                   Doe
emails        johndoe@gmail.com
Name: 0, dtype: object

In [5]:
df.iloc[[0, 1], 2]

0    johndoe@gmail.com
1    janedoe@gmail.com
Name: emails, dtype: object

In [6]:
df.loc[0]

first_name                 John
last_name                   Doe
emails        johndoe@gmail.com
Name: 0, dtype: object

In [7]:
df.loc[[0,1]]

  first_name last_name             emails
0       John       Doe  johndoe@gmail.com
1       Jane   Doe Jr.  janedoe@gmail.com